* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

#grad1 {
    background-color: : #9C27B0;
    background-image: linear-gradient(120deg, #ccc, #efefef);
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 0px
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    /* box-shadow: 0 2px 2px 2px rgb(0 0 0 / 20%); */
    padding: 0px 9px;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}



#msform fieldset .form-card {
    text-align: left;
    color: #444
}

#msform input,
#msform textarea {
        padding: 0px 1px 4px 1px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
  
    border-bottom: 2px solid #007bff;
    outline-width: 0
}
.navbar{
	display:block;
}
#msform .action-button {
    width: 100px;
    background: #007bff;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
	float:right;
	border-radius:44px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #007bff
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
	float:left;
	border-radius:44px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid #007bff
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #007bff
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
}


ul.modulelist {
    padding: 0px;
    list-style: none;
     width: 95%;
    margin: 0px auto;
    background: #fff;
    overflow: hidden;
    border-radius: 9px;
}

@media (max-width: 767px) {
	ul.modulelist {
		padding: 0px;
		list-style: none;
		 width: 99%;
		margin: 0px auto;
		background: #fff;
		overflow: hidden;
		border-radius: 9px;
		box-shadow: 0px;
		/* margin-bottom: 1px; */
	}
	.rating:not(:checked) > label {
		float: right;
		/* padding: 0 .1em; */
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		font-size: 12px;
		/* line-height: 1.2; */
		color: #222;
		background: #efefef;
		margin: 1px;
		text-align: center;
		padding: 9px;
		opacity: 0.3;
	}
}

@media (max-width: 330px) {
	ul.modulelist {
		padding: 0px;
		list-style: none;
		 width: 99%;
		margin: 0px auto;
		background: #fff;
		overflow: hidden;
		border-radius: 9px;
		box-shadow: 0px;
		/* margin-bottom: 1px; */
	}
	.rating:not(:checked) > label {
		float: right;
		/* padding: 0 .1em; */
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		font-size: 12px;
		/* line-height: 1.2; */
		color: #222;
		background: #efefef;
		margin: 1px;
		text-align: center;
		padding: 7px !important;
		opacity: 0.3;
	}
}

table.handoverlist {
    width: 99%;
    /* border: 1px solid; */
	    margin-bottom: 7px;
}


ul.modulelist li {
    width: 33%;
    float: left;
    padding: 10px;
}
ul.modulelist li p {
    font-size: 10px;
}
ul.modulelist li p {
    font-size: 10px;
}
ul.modulelist li img {
    width: 94%;
    text-align: center;
}  



.rating {
      float:left;
	  margin:0px auto;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    /*.rating:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:300%;
        color:#ddd;
    }*/
	.rating:not(:checked) > label {
		float: right;
		/* padding: 0 .1em; */
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		font-size: 12px;
		/* line-height: 1.2; */
		color: #222;
		background: #efefef;
		margin: 1px;
		text-align: center;
		padding: 23px;
		opacity: 0.3;
	}

    /*.rating:not(:checked) > label:before {
        content: '★ ';
    }*/

    .rating > input:checked ~ label {
        color: #fff;
		opacity: 1;
        
    }
	label.star0,label.star1,label.star2,label.star3,label.star4,label.star5,label.star6 {
		background: #ff7575 	 !important;
		overflow: hidden;
		color: #fff !important;
	}
	label.star7,label.star8 {
		background: #f9be03  !important;
		overflow: hidden;
		color: #fff !important;
	}
	label.star9,label.star10 {
		background: #74cc1c  !important;
		overflow: hidden;
		color: #fff !important;
	}

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: dodgerblue;
        
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: dodgerblue;
        
    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }
	
	
	h3.sectiondivision.ng-binding {
    font-size: 20px;
	text-align:center;
	margin-bottom:20px;
}

.nav-item a {
    border-radius: 10px;
    padding: 7px 3px;
    width: 70px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.likemessage {
    list-style: none;
    margin: 0px 70px;
    padding: 0px;
    width: 100%;
}	
ul.likemessage li {
    width: 50%;
    float: left;
    font-size: 12px;
}

@media (max-width: 767px) {
		.likemessage {
    list-style: none;
    margin: 0px 15px;
    padding: 0px;
    width: 100%;
}	
ul.likemessage li {
    width: 50%;
    float: left;
    font-size: 8px;
}
	.rating:not(:checked) > label {
		float: right;
		/* padding: 0 .1em; */
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		font-size: 12px;
		/* line-height: 1.2; */
		color: #222;
		background: #efefef;
		margin: 1px;
		text-align: center;
		padding: 9px;
		opacity: 0.3;
	}
}